body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.text-bold {
  font-weight: bold;
}

.text-size-xlarge {
  font-size: 43px;
}

.btn-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 26px;
  right: 26px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  border: none;
}

.bg-gray-800 {
  background-color: #343a40;
}

.bg-gray-400 {
  background-color: #85898d;
}

.card-task {
  min-height: 232px;
  border-radius: 0.45rem;
}
