{% extends 'theme/bootstrap.html' %}

{% load humanize %}

{% block content %}

    <!-- Edit Task -->
    {% if task %}
    <form action="{{task.id}}" method = "POST" id='editTask'>{% csrf_token %}
        <br>
        New Title: <input id="a" type="text" name="title" value='{{task.title}}'> 
        <br><br>
        New description:
        <textarea class="form-control" id="description" name="description" rows="3" style="max-width: 400px;" >{{task.description}}</textarea>
        <br>
        New date: <input id="due_to" name="due_to" type="date" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        <span class="validity">(Atual: {{task.due_to}} )</span>

        <br><br>
        <left><input href='{% url 'editTask' task.id %}' type="submit" value="Edit Task" class="btn btn-default" style="background-color: black; color: white">
        </left>
    </form>
    {%endif%}
    <!-- Edit Task End -->

{% endblock content %}
