{% extends 'theme/bootstrap.html' %}

{% load humanize %}

{% block content %}
    
    <!-- Modal -->
    <div class="modal fade" id="addtaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" style="text-align:center;">New Task</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

            <!-- Add Task -->
            <form action="addTask/" method = "post" id='addTask'>{% csrf_token %}
                Task title:
                <input id="title" type="text" name="title" placeholder="Insert task title..."> 
                <br><br>
                Task description:
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Insert task desc..."></textarea>
                <br>
                Task date:
                <input id="due_to" name="due_to" type="date" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                    <span class="validity"></span>
                <br><br>
                <center><input type="submit" value="Add Task" class="btn btn-default" style="background-color: black; color: white">  </center>
            </form> 
            <!-- Add Task End -->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: red; color: white">Close</button>
        </div>
        </div>
    </div>
    </div>

    

    

    <!-- Message -->
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissable" role="alert">
                    <button class ='close' data-dismiss='alert'>
                        <small><sup>X</sup></small>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
    <!-- Message End -->
<section>

            <h1>
            Tasks list
            <!-- Button trigger modal addTask -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addtaskModal" id="reset"
                style="background-color: green; color: white">
            +
            </button>
            </h1>
            
            <!-- Task List-->
                <ul class="list-group">
                <div class="table-responsive">
                    <table id="list" class="table table-bordered border-primary" style='margin-left: auto; margin-right: auto;'>
                    <thead style="text-align:center">
                        <!--
                        <td> <input id="search" type="text" name="search" value= "" placeholder="Filter ID" style="max-width:50px;">  </td>
                        <td> <input id="search" type="text" name="search" value= "" placeholder="Filter Title" style="max-width:100px;"> </td>
                        <td>  </td>
                        <td> 
                            <input type="checkbox" id="onlydone" name="onlydone">
                            <label for="onlydone">Only Done?</label>
                            </td>
                        <td> </td>
                        <td> </td>-->
                    <tr class="table table-primary ">
                        <td> #ID/Edit  </td>
                        <td> Task </td>
                        <td> Description </td>
                        <td> Date </td>
                        <td> Done? </td>
                        <td>  </td>
                    </tr>
                    </thead>
                    {% for task in tasks %}
                        {% if task.done %}
                            <tr class="task-list{% if task.done %} active{% endif %}" >
                        {% else %}
                            <tr class="table-active task-list{% if task.done %} active{% endif %}">
                        {% endif %}

                        <td style="text-align:center"> 
                            <button name='openEdit' data-toggle="modal" data-target="#edittaskModal" data-whatever="{{task.title}}"> 
                                #{{ task.id }}  
                            </button>
                        </td>

                        <td> 
                            <div style="width:100%;  max-width: 300px; overflow:auto; text-align:center; margin-left: auto; margin-right: auto;"> 
                            {{ task.title }}
                           </div>
                        </td>

                        <td> <div style="width:100%;  max-width: 300px; overflow:auto; text-align:center; margin-left: auto; margin-right: auto;"> 
                            {{ task.description}}  </div></td>
                        
                        <td style="text-align:center"> {{task.due_to}} </td>
                        <td style="text-align:center"><center> <a href='{% url 'doneTask' task.id %}'> 
    
                        {% if task.done %} Undone {% else %} Done {% endif %}
                            
                        </a></center></td>
                        <td><center> <a href='{% url 'deleteTask' task.id %}'> Delete </a></center></td>    
                                                
                        </tr>

                        <div class="modal fade" id="edittaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel" style="text-align:center;">New Task</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">

                                    <!-- Edit Task -->
                                        <form action="editTask/{{task.id}}" method = "post" id='editTask'>{% csrf_token %}
                                            New Task Title: <input id="title" type="text" name="title" value="{{ task.title }}"> 
                                            <br><br>
                                            <center><input type="submit" value="Edit Task" class="btn btn-default" style="background-color: black; color: white">  </center>
                                        </form>
                                    <!-- Edit Task End -->

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: red; color: white">Close</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </table>
                </div>
                </ul>
            

</section>


{% endblock content %}

{% block js %}
<script type="text/javascript">

    $(document).ready(function(){
        $(".task-list").mouseenter(function(){
            $(this).addClass("text-bold");
        }).mouseleave(function(){
            $(this).removeClass("text-bold");
        });
    });

    $('#reset').click(function() {
        $("#addTask")[0].reset();
    })

    $('#openEdit').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('{{task.title}}') // Extract info from data-* attributes
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>
{% endblock js %}
