{% extends 'theme/bootstrap.html' %}

{% load humanize %}

{% block content %}

    {% include 'tasks/insert.html' %}

    <!-- Message -->
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissable" role="alert">
                    <button class ='close' data-dismiss='alert'>
                        <small><sup>X</sup></small>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
    <!-- Message End -->

<section>
            
            <h1>
            Tasks list
            <!-- Button trigger modal addTask -->
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#addtaskModal" id="reset"
                style="background-color: green; color: white">
            +
            </button>
            </h1>
            
            <!-- Task List-->
                <ul class="list-group">
                <div class="table-responsive">
                    <table id="list" class="table table-bordered border-primary" style='margin-left: auto; margin-right: auto;'>
                    <thead style="text-align:center">
                    <tr class="table table-primary ">
                        <td> #ID/Edit  </td>
                        <td> Title </td>
                        <td> Description </td>
                        <td> Date </td>
                        <td> Done? </td>
                        <td> Delete? </td>
                    </tr>
                    </thead>
                    {% for task in tasks %}
                        {% if task.done %}
                            <tr class="task-list{% if task.done %} active{% endif %}" >
                        {% else %}
                            <tr class="table-active task-list{% if task.done %} active{% endif %}">
                        {% endif %}

                        <td style="text-align:center"> 
                            <a href='{% url 'tasks.update' task.id %}'> <p class='btn btn-link'>
                                #{{ task.id }}  </p>
                            <a>
                        </td>

                        <td> 
                            <div style="width:100%;  max-width: 300px; overflow:auto; text-align:center; margin-left: auto; margin-right: auto;"> 
                            {{ task.title }}
                           </div>
                        </td>

                        <td> <div style="width:100%;  max-width: 300px; overflow:auto; text-align:center; margin-left: auto; margin-right: auto;"> 
                            {{ task.description}}  </div></td>
                        
                        <td style="text-align:center"> {{task.due_to}} </td>
                        <td style="text-align:center">
                         <a href='{% url 'doneTask' task.id %}'>
                            {% if task.done %} <p class='btn btn-secondary'> Undone </p> {% else %} <p class='btn btn-primary'> Done </p> {% endif %}
                        </a></center></td>
                        <td><center> <a href='{% url 'deleteTask' task.id %}' class='btn btn-primary'> Delete </a></center></td>


                        </tr>

                    {% endfor %}
                    </table>
                </div>
                </ul>
            

</section>


{% endblock content %}

{% block js %}
<script type="text/javascript">

    $('#reset').click(function() {
        $("#addTask")[0].reset();
    })

    $.post('asdasdasd').success(resposta => {
        res
    })
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock js %}
