{% extends 'theme/bootstrap.html' %}

{% load humanize %}

{% block content %}

    <!-- Message -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button class ='close' data-dismiss='alert'>
                    <small><sup>X</sup></small>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <!-- Message End -->

<section>
            
            <h1>
            Tasks list
            <!-- Button trigger modal addTask -->
            <a href='{% url 'tasks.insert' %}' class="btn btn-success">
            + </a>
            </h1>

            <!-- Task List-->
            <div class="p-3 mb-2 bg-secondary text-white">

            <div class="row">
                {% for task in tasks %}
                <div class="col-sm-3">
                    {% if task.done %}
                        <div class="card text-dark bg-light mb-3">
                    {% else %}
                        <div class="card text-white bg-dark mb-3">
                    {% endif %}
                        <div class="card-body">
                        
                            <h5 class="card-title">
                                {{ task.title }}
                            </h5>
                            <p class="card-text">
                                <div style="width:100%;  max-width: 400px; height:100%; max-height: 60px; overflow:auto;"> 
                                {{ task.description}}  
                                </div>
                                <br>
                                {{ task.due_to_iso }}
                            </p>
                            
                            <br>
                            <a href='{% url 'tasks.update' task.id %}' class='btn btn-info'> Update </a>
                            &nbsp;&nbsp;
                            <a href='{% url 'tasks.delete' task.id %}' class='btn btn-danger'> Delete </a>
                            &nbsp;&nbsp;
                            <a href='{% url 'doneTask' task.id %}' {% if task.done %} class='btn btn-secondary'> Undone </a> {% else %} class='btn btn-primary'> Done </a> {% endif %}
                                                        
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            </div>

</section>


{% endblock content %}

{% block js %}
<script type="text/javascript">

</script>
{% endblock js %}
