{% extends 'theme/bootstrap.html' %}

{% load humanize %}


{% block content %}

    <!-- Message -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <!-- Message End -->
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Tasks list</h1>
        </div>
    </div>

            <div class="row">
                {% for task in tasks %}
                <div class="col-sm-3">

                    <div class="card card-task text-white {% if task.done %}bg-gray-400 {% else %} bg-gray-800 {% endif %}mb-3">

                        <div class="card-body">

                            <h5 class="card-title">{{ task.title }}</h5>
                            <p class="card-text">
                                <div style="width:100%;  max-width: 400px; height:100%; max-height: 60px; overflow:auto;"> 
                                {{ task.description}}  
                                </div>
                                <br>
                                {{ task.due_to|naturaltime }}
                            </p>

                            <br>
                            <a href="{% url 'tasks.update' task.id %}" class='btn btn-sm btn-info'>
                            <i class="bi bi-clipboard"></i> Update </a>
                            &nbsp;&nbsp;
                            <a href="{% url 'tasks.delete' task.id %}" class='btn btn-sm btn-danger'>
                            <i class="bi bi-trash-fill"></i> Delete </a>
                            &nbsp;&nbsp;
                             
                            {% if task.done %} <a href="{% url 'doneTask' task.id %}" class='btn btn-sm btn-secondary'>
                                <i class="bi bi-check-square-fill"></i> Undone </a>
                            {% else %}  <a href="{% url 'doneTask' task.id %}" class='btn btn-sm btn-primary'>
                                <i class="bi bi-check-square"></i>  Done </a> {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        <a type="button" class="btn-danger btn-float" href="{% url 'tasks.insert' %}">
            <span class="text-size-xlarge text-bold">
            <i class="bi bi-plus"></i>
            </span>
        </a>
</div>


{% endblock content %}
