{% extends 'theme/bootstrap.html' %}

{% load widget_tweaks %}

{% block content %}

<!-- Message -->
{% if messages %}
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
<!-- Message End -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>New task</h2>
      </div>
    </div>

    <!-- Add Task -->
    <div class="row">
        <div class="col-md-12 form-group">
            <form method='post' enctype="multipart/form-data">{% csrf_token %}
                <p>
                    <label for="id_title">Title:</label>
                    {% render_field form.title class+="form-control" placeholder=form.title.label %}
                </p>
                <p>
                    <label for="id_description">Description:</label>
                    {% render_field form.description class+="form-control" %}
                </p>
                <p>
                    <label for="id_due_to">Due to:</label>
                    <input type="date" name="due_to" value='{{ form.due_to.value |date:"Y-m-d" }}' class="form-control" required="" id="id_due_to" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                </p>
                <p>
                    <label for="category"> Category: <a href="{% url 'tasks.category' %}" class='btn btn-sm btn-success'> + </a>
                    {% render_field form.category class+="form-control" %}
                      <!--
                      <div class="list-group">
                         for cats in cat 
                          <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                             cats.name 
                          </label>
                        endfor 
                      </div>-->
                </p>
        
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" >Create Task</button>
            </div>
            </form>
        </div>
    </div>

  </div>

{% endblock content %}

    