{% extends 'theme/bootstrap.html' %}

{% load widget_tweaks %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Login</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <form action="/admin/login/?next=/admin/login" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="qioWsji1Tg9zIoHueKbjpoiNEeBmOOoe3xzwKeWVWcHE6jfNVBoZO7bULfapvxUZ">
                {% csrf_token %}
                <div class="form-row">
                  <label class="required" for="id_username">Usuario:</label> 
                  <input class="form-control w-25 p-1" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                </div>
                <div class="form-row">
                  
                  <label class="required" for="id_password">Senha:</label> 
                  <input class="form-control w-25 p-1" type="password" name="password" autocomplete="current-password" required id="id_password">
                  <input class="form-control w-25 p-1" type="hidden" name="next" value="/">
                </div>
                
                
                <div class="submit-row">
                  <br><input type="submit" value="Entrar">
                </div>
              </form>
            <p> Não se cadastrou ainda? 
              <a href="{% url 'usuarios.cadastrar' %}">Cadastre-se agora!</a>
            </p>
        </div>
    </div>

  </div>

{% endblock content %}

    