{% extends 'theme/bootstrap.html' %}

{% load widget_tweaks %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Login</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">

          <form class="row g-3" method="post" action="{% url 'usuarios.login' %}" class="form-control">{% csrf_token %}

            {{ form }}

            <p>
                <button type="submit" class="btn btn-primary btn-lg">
                  Login  <i class="fa fa-sign-in"></i>
                </button>
            </p>
            <input type="hidden" name="next" value="{{ next }}" />

        </form>

        <p> Não se cadastrou ainda? 
          <a href="{% url 'usuarios.cadastrar' %}">Cadastre-se agora!</a>
        </p>
        </div>
    </div>

  </div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function () {
    $('#id_username').addClass('form-control');
    $('#id_password').addClass('form-control');
  });
</script>
{% endblock js %}