{% extends 'theme/bootstrap.html' %}

{% load widget_tweaks %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Login</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <form action="/admin/login/?next=/" method="post" id="login-form" enctype="multipart/form-data"> {% csrf_token %}
          <div class="form-row">
            <label class="required" for="id_username">Usuario:</label> 
              {% render_field form.username class+="form-control" placeholder="Insira seu nome de usuario..." %}
          </div>

          <div class="form-row">
            <label class="required" for="id_password">Senha:</label> 
              {% render_field form.password class+="form-control" placeholder="Insira sua senha..." type="password" %}
          </div>
                
          <div class="submit-row">
            <br><input type="submit" value="Entrar" class="btn btn-primary">
          </div>
        </form>
        
        <p> Não se cadastrou ainda? 
          <a href="{% url 'usuarios.cadastrar' %}">Cadastre-se agora!</a>
        </p>
        </div>
    </div>

  </div>

{% endblock content %}

    